@font-face {
    src: url(../../assets/fontes/123Sketch.ttf);
    font-family: '123Sketch';    
    font-weight: normal;
} 

.rodape{
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f8f9fa;
}